* {
font-family: 'Saira Condensed', sans-serif;
}



#navbar {
background-color: #E8D595;
text-align: center;
vertical-align: top;
letter-spacing: 3px;
padding: 30px;
width: 100%;
}

#navbar li {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}
 li a {
    color: #F27348;
    text-decoration: none;
    padding: 30px;
 }
