* {
font-family: 'Saira Condensed', sans-serif;
}

header {
width: 100%;
background-color: #E8D595;
vertical-align: top;
margin: left;
}

#navbar {
text-align: center;
vertical-align: top;
padding: 15px;
margin: right;
}

#navbar li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}
 li a {
    color: #F27348;
    text-decoration: none;
    padding: 15px;
 }