* {
font-family: 'Saira Condensed', sans-serif;
}



#navbar {
background-color: #E8D595;
text-align: center;
vertical-align: top;
letter-spacing: 3px;
padding: 50px;
width: 100%;
}

#navbar li {
    font-size: 20px;
    font-weight: bold;
    display: inline;
}
 li a {
    color: #F27348;
    text-decoration: none;
    padding: 30px;
 }

body {
    box-sizing: border-box;
    width: 100%;
}

#aboutme {
    background-color: #8DA47E;
    padding:5px;
    width: 100%;
}
#aboutme h1 {
    background-color: #8DA47E;
    float:left;
    font-size: 50px;
}
#aboutme p {
    background-color: #8DA47E;
    float:right;
    font-size: 30px;
}
#myprojects {
    text-align: center;
    background-color: #E9BBB5;
    color:aliceblue;
    padding-top: 20%;
    padding-bottom: 20%;    
}
#myprojects img {
    max-width: 300px;
    text-align: center;
    vertical-align: top;
}
#myprojects h1 {
    text-align: center;
    color: #B2B2B2;
    padding-top: 10%;
}
table td {
    padding-left: 50%;
    padding-right: 50%;
}
footer {
    background-color: #AAD9CD;
    color: aliceblue;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
}
footer a {
    color: aliceblue;

}
